body{
  text-align: center;
}
.Choice-button{
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color:rgb(164, 212,130);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(22, 23, 23) , 0 0 10px rgb(22, 23, 23);
}
.Choice-button:hover{
  box-shadow: 0 0 5px cyan,
  0 0 8px cyan, 0 0 16px cyan,
  0 0 24px cyan , 0 0 32px cyan;
}

.Choice-Image{
  height: 75px;
}
.Clear-game{
  font-size: 20px;
   font-weight: bold;
   background-color: rgb(193, 240, 240);
  border-radius: 20px;
  border-style: outset;
  box-shadow: 0 0 5px rgb(22, 23, 23) , 0 0 10px rgb(22, 23, 23);
}
.Clear-game:hover{
  box-shadow: 0 0 5px cyan,
  0 0 8px cyan, 0 0 16px cyan,
  0 0 24px cyan , 0 0 32px cyan;
}